# Ignore everything
*

# Exclude folders from above rule
!**/

# Block previously allowed folders
**/dev-data/
**/npm-cache/

# Exclude config files
!README.md
!docker-compose.yml
!Dockerfile
!.gitignore
!LICENSE
!scripts/**/*.sh
!nginx/**/*.conf
!config/**/*.sh
!config/**/*.conf
!config/**/*.json
!.vscode/**/*.json
!.github/workflows/*.yml
!sonar-project.properties
