# Ignore everything
*

# Exclude folders from above rule
!**/

# Block previously allowed folders
**/build/
**/coverage/
**/node_modules/
**/dev-data/
**/npm-cache/

# Exclude source files
!*.ts
!*.cts
!*.mts

# Etc
!server/src/database/migrations/*.sql
!eslint.config.js
!*.json
!*.sh
!*.conf
!README.md
!docker-compose.yml
!Dockerfile
!.gitignore
!LICENSE
!.npmrc
!database/postgresql.conf
!server/__tests__/**/*.jpg
