# Ignore everything
*

# Exclude folders from above rule
!**/

# Block previously allowed folders
**/build/
**/coverage/
**/node_modules/
**/dev-data/
**/npm-cache/

# Exclude source files
!*.js
!*.ts

# Etc
!*.sql
!*.json
!*.sh
!*.md
!*.yml
!Dockerfile
!.gitignore
!LICENSE
!.npmrc
