# Enforces the engine(s) version in package.json
# If you use the scripts to run the project, you should never encounter an error
# (unless you change the node version specified in the docker file)
engine-strict=true

@adamakiva:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_GITHUB_TOKEN}
